:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --logo-color: #000000;
  --white-color: #ffffff;
  --first-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --items: 4;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * var(--items)) / var(--items));
}

/* хедер */

.header {
  display: flex;
  align-items: center;
}

.header-main {
  border-bottom: 1px solid #ececec;
}

.header .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  text-decoration: none;
}

.half-logo {
  color: var(--accent-color);
}

.site-nav .item {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
  position: relative;
}

.site-nav .item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms var(--cubic);
  z-index: 1;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
}

.main-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .item:hover,
.site-nav .item:focus {
  color: var(--accent-color);
}

.site-nav .item:hover::after,
.site-nav .item:focus::after {
  opacity: 1;
}

.main-nav .item:hover,
.main-nav .item:focus {
  color: var(--accent-color);
}

.item:hover .envelope,
.item:focus .envelope {
  fill: var(--accent-color);
}

.envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.main-nav .item {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic);
}

.main-nav li:not(:last-child) {
  margin-right: 50px;
}

/* Герой */
.hero {
  background-color: var(--first-bg-color);
  background-image: url(../images/img-overlay.png), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hero .title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero .button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border-radius: 4px;
}

/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Плюсы компании */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.features .features-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-item {
  --items: 4;
}

p {
  margin-bottom: 0;
}

.features-title::before {
  display: inline-flex;
  content: "";
  width: 100%;
  height: 120px;
  background-color: var(--second-bg-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url("../images/icons/antenna.svg");
}
.clock::before {
  background-image: url("../images/icons/clock.svg");
}
.diagram::before {
  background-image: url("../images/icons/diagram.svg");
}
.astronaut::before {
  background-image: url("../images/icons/astronaut.svg");
}

/* Заняття */
.occupation-item {
  --items: 3;
}

.occ {
  position: relative;
}
.occupation-title {
  position: absolute;
  bottom: 0;
  left: 0;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Команда */
.team .team-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team {
  font-size: 16px;
  line-height: 1.19;
}

.team-main {
  background-color: #f5f4fa;
}

.team-item {
  --items: 4;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-part {
  padding: 30px;
}

.social-network-item {
  display: inline-flex;
}

.social-network-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

.social-network-icon:hover,
.social-network-icon:focus {
  background-color: var(--accent-color);
}

.social-network {
  margin-top: 16px;
  display: flex;
}

.social-network-icon:hover .icon,
.social-network-icon:focus .icon {
  fill: var(--white-color);
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms var(--cubic);
}

/* Клиенты */
.clients-item {
  --items: 6;
}

.clients-link {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  display: inline-flex;
  border: 1px solid rgba(175, 177, 184, 1);
  transition: border 250ms var(--cubic);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--cubic);
}

/* Футер */
.footer {
  background-color: var(--first-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white-color);
}

.footer-first .logo {
  margin: 0;
}

.contacts {
  font-style: normal;
  margin-top: 20px;
}

.contacts-address {
  color: var(--white-color);
  margin-bottom: 9px;
}

.contacts-nav {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms var(--cubic);
}

.contacts-nav:hover,
.contacts-nav:focus {
  color: var(--accent-color);
}
.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.icon-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer .icon {
  fill: rgba(255, 255, 255, 1);
}

.grid-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.grid-footer-item {
  flex-basis: calc((50% - 45px) / 2);
}

.grid-footer-item:last-child {
  flex-basis: calc(50% - 15px);
}

.sign-up-btn::after {
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/send.svg");
}

.sign-up-btn {
  display: inline-flex;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--white-color);
}

.email-form {
  padding: 15px 16px 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  margin-right: 12px;
  width: 100%;
  color: #fff;
}

.mailing {
  display: flex;
  justify-content: space-between;
}

.email-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

/* Кнопки */
.button {
  cursor: pointer;
}

/* Модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 521px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--cubic);

  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  margin-top: 8px;
}

/* Портфолио */
.works .works-item {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.87;
}

.works {
  --items: 3;
}

.filter .button {
  background-color: var(--second-bg-color);
  color: var(--title-color);
  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms var(--cubic);
}

.filter {
  justify-content: center;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-part {
  padding: 20px 24px;
}

.portfolio-item {
  box-sizing: border-box;
  border: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--cubic);
}

.portfolio-item:hover .portfolio-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
